.App-header {
  border-bottom: 4px solid #e0354b;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.App-header h1 {
  color: #e0354b;
}

.App-logo {
  width: 70%;
}

.App-body {
  height: 30vh;
  width: 90vw;
  margin: 2rem auto;
  display: flex;
  flex-direction: column; /* Stacks elements vertically */
  justify-content: center;
  align-items: flex-start;
}

.App-body label, .App-body input, .App-body button {
  margin-bottom: 1rem; /* Adds spacing between each form element */
}

.App-body input {
  padding: 0.5rem;
  width: 100%; /* Makes inputs take up full width */
  max-width: 400px; /* Optional: limits input width */
}

button {
  padding: 0.5rem 1rem;
}

.App-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
  border-top: 4px solid #e0354b;
  font-style: italic;
}
